.nav {
  @include clearfix;
  @include display(flex);
  @include align-items(stretch);
  @include justify-content(center);
  background-color: #fff;
  border-bottom-color: rgba(0,0,0,0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  min-height: $nav-height;
  width: 100%;
  z-index: 9999;
  text-align: center;
  &__item {
    @include transition (all 0.2s ease-in-out);
    @include flex(1);
    @include align-self(center);
    display: block;
    a {
      margin: auto;
    }
    &:first-child {
      text-align: left;
      margin-left: 25px;
    }
    &:last-child {
      text-align: right;
      margin-right: 25px;
    }
    a.logo > h1 {
      margin: auto;
      text-transform: uppercase;
      font-size: 1.25em;
      letter-spacing: 0.25em;
    }
  }
  &--fixed {
    position: fixed;
    top: 0;
    z-index: 10000;
  }
}


.nav--fixed-padding {
  padding-top: 75px;
}
